
  .footer {
    background-color: #9cbe8f;
    color: #ffffff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 0;
  }
   
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0;
  }
   
  .footer-section {
    margin-bottom: 20px;
  }
   
  .footer-title {
    font-size: 40px;
    margin-bottom: 10px;
  }
   
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
   
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
   
  .footer-section ul li {
    margin-bottom: 6px;
  }
   
  .footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
  }
   
   
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: #eaf7e2;
  }